@font-face {
  font-family: 'Source Code Pro Regular';
  src: url('../fonts/SourceCodePro-Regular.ttf');
}

@font-face {
  font-family: 'Source Code Pro Bold';
  src: url('../fonts/SourceCodePro-Bold.ttf');
}

@font-face {
  font-family: 'Source Code Pro Light';
  src: url('../fonts/SourceCodePro-Light.ttf');
}
button {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background: #000000;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
}
body {
  font-family: 'Source Code Pro Regular';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #181818;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
/*--------------------------- Start of Navbar -----------------------------------*/
.Navbar {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin: 0.5rem;
  padding: 0 1rem;
  align-items: center;
  background-color: #2f2f2f;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(255, 255, 255);
}

.Navbar a,
h1 {
  transition: color 0.3s ease 0s;
}
.Navbar a {
  text-decoration: none;
  color: #ffffff;
}
.Navbar a:hover {
  cursor: pointer;
  color: rgb(206, 174, 174);
}

.Navbar h1:hover {
  color: rgb(206, 174, 174);
}

.Navbar-photo-container {
  display: flex;
  justify-content: space-between;
}

.Navbar-photo-container img {
  margin: auto 1rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
}

.Navbar-photo-container h1 {
  font-size: 1.5rem;
  font-family: 'Source Code Pro Light';
}

.Navbar-links-container {
  display: flex;
  column-gap: 2rem;
}

@media (max-width: 398px) {
  .Navbar {
    display: flex;
    flex-direction: column;
  }
  .Navbar-links-container {
    justify-content: center;
  }
}
/*--------------------------- End of Navbar -----------------------------------*/
/*--------------------------- Start of Home Section -----------------------------------*/
.Home {
  width: 100%;
  background-color: #181818;
  min-height: 80vh;
}

.Home-title {
  margin: 30rem auto;
  margin: 4rem auto;
  text-align: center;
}

.Home-title span {
  color: #ffffff;
  font-size: 3rem;
  animation: neon 5s infinite;
}

@keyframes neon {
  0%,
  39%,
  41%,
  59%,
  61%,
  100% {
    text-shadow: white 0 0 12px, #ffffff 0 0 25px, #ffffff 0 0 36px;
  }
  40%,
  60% {
    text-shadow: none;
  }
}

.Home-text {
  margin: auto;
  text-align: justify;
  max-width: 50rem;
  color: #ffffff;
  background-color: #2f2f2f;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(251, 251, 251);
  animation: appear 2s cubic-bezier(0.075, 0.82, 0.165, 1),
    appear2 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes appear {
  0% {
    color: #494949;
  }
  50% {
    color: #767676;
  }
}
@keyframes appear2 {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.Home-text p {
  margin: 1rem;
}
.Socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  column-gap: 1rem;
}
.Social {
  background-color: rgb(255, 255, 255);
  width: 3rem;
  border-radius: 50%;
  text-align: center;
}
.Social a {
  text-decoration: none;
  color: #000000;
}
@media (min-width: 398px) {
  .Home-title {
    margin: 5rem auto;
  }
}
@media (min-width: 808px) {
  .Home-title {
    margin: 9rem auto;
  }
}
@media (min-width: 1200px) {
  .Home-title {
    margin: 10rem auto;
  }
}
@media (min-width: 1920px) {
  .Home-title {
    margin: 18rem auto;
  }
}
/*--------------------------- End of Home Section -----------------------------------*/
/*--------------------------- Start of About Section -----------------------------------*/

.About {
  width: 100%;
  background-color: #181818;
  min-height: 80vh;
}
.About::before {
  background-color: #961919;
  min-height: 80vh;
}
.About-title {
  margin: 5rem auto;
  text-align: center;
}

.About-title span {
  color: #ffffff;
  font-size: 2rem;
  animation: neon 5s infinite;
}
.About-text {
  margin: auto;
  text-align: justify;
  max-width: 50rem;
  color: #ffffff;
  background-color: #2f2f2f;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(251, 251, 251);
}
.Home-text p {
  margin: 1rem;
}
.Technologies {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3rem;
  row-gap: 3rem;
}
.Technology img {
  width: 10rem;
}
#react {
  display: inline-block;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
/*--------------------------- End of About Section -----------------------------------*/
/*--------------------------- Start of project Section -----------------------------------*/
#projects {
  margin-bottom: 4rem;
}
.Projects {
  width: 100%;
  background-color: #181818;
  min-height: 80rem;
}
.projects-title {
  text-align: center;
}
.projects-title span {
  color: #ffffff;
  font-size: 2rem;
  animation: neon 5s infinite;
}
.projects {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3rem;
  row-gap: 3rem;
}
.projects a {
  text-decoration: none;
}
.project {
  text-align: center;
  color: #ffffff;
  background-color: #2f2f2f;
  max-width: 480px;
}
.project h3,
h4 {
  animation: neon 6s infinite;
}
.project p {
  color: #cecece;
  margin: 1rem;
}
.project img {
  width: 30rem;
}
.Button {
  background-color: #ffffff;
  border: 1px solid black;
  width: 6rem;
  height: 2rem;
  border-radius: 10px;
  color: black;
  margin: 1rem;
}

@media (max-width: 440px) {
  .project img {
    width: 25rem;
  }
}
@media (max-width: 360px) {
  .project img {
    width: 20rem;
  }
}
@media (max-width: 275px) {
  .project img {
    width: 15rem;
  }
}
/*--------------------------- End of project section -----------------------------------*/
/*--------------------------- Start of me section -----------------------------------*/
.Me {
  width: 100%;
  background-color: #181818;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
}

.Me-img-container {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}
.Me-img-container span {
  margin-top: -5rem;
  color: #ffffff;
  font-size: 4rem;
  animation: neon 5s infinite;
  text-align: center;
}

.Me-img-container img {
  width: 30rem;
  border-radius: 50%;
}
@media (max-width: 440px) {
  .Me-img-container img {
    width: 25rem;
  }
}
@media (max-width: 360px) {
  .Me-img-container img {
    margin: auto;
    width: 20rem;
  }
}
@media (max-width: 275px) {
  .Me-img-container img {
    width: 5rem;
  }
}
/*--------------------------- End of me section -----------------------------------*/
